<section>
  <button
    [disabled]="isNukeBtnDisabled"
    class="nuke-btn"
    mat-raised-button
    color="primary"
    (click)="addaTonOfMarkers()"
  >
    Nuke map
  </button>
</section>

<mat-drawer-container class="drawer-wrapper" autosize>
  <mat-drawer #drawer class="drawer-info" mode="push">
    <h3>Location Info</h3>
    <mat-divider></mat-divider>
    <p><b>Name:</b> {{ selectedMarker?.name }}</p>
    <p><b>Latitude:</b> {{ selectedMarker?.lat }}</p>
    <p><b>Longitude:</b> {{ selectedMarker?.lng }}</p>

    <button mat-raised-button color="primary" (click)="drawer.close()">
      Close
    </button>
  </mat-drawer>

  <div class="sidenav-content">
    <agm-map
      class="map-wrapper"
      [latitude]="DEFAULT_LAT"
      [longitude]="DEFAULT_LNG"
      [zoom]="DEFAULT_ZOOM"
    >
      <agm-marker-cluster>
        <agm-marker
          *ngFor="let marker of markers"
          [latitude]="marker.lat"
          [longitude]="marker.lng"
          (markerClick)="setSelectedMarker(marker)"
        >
          <agm-info-window>{{ marker.name }}</agm-info-window>
        </agm-marker>
      </agm-marker-cluster>
    </agm-map>
  </div>
</mat-drawer-container>
