.navbar-wrapper {
  margin-bottom: 20px;

  .nav-section {
    list-style: none;
    display: flex;

    .active {
      border-bottom: 5px solid #8faff5;
      font-weight: bold;
      font-size: 16px;
    }
  }
}
