<mat-toolbar class="navbar-wrapper">
  <mat-toolbar-row>
    <h1>TRG Maps</h1>
    <span class="menu-spacer"></span>
    <ul class="nav-section">
      <li lass="nav-item">
        <a mat-button [routerLink]="'/dashboard'" routerLinkActive="active">
          Dashboard
        </a>
      </li>
      <li>
        <a mat-button [routerLink]="'/markers'" routerLinkActive="active">
          Markers
        </a>
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>
