<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <form class="marker-modal-form" [formGroup]="form">
    <div class="text-inside">
      <mat-form-field>
        <input matInput placeholder="Latitude" formControlName="lat" required />
        <mat-error *ngIf="form.controls['lat'].hasError('required')">
          Please enter Latitude
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Longitute"
          formControlName="lng"
          required
        />
        <mat-error *ngIf="form.controls['lng'].hasError('required')">
          Please enter Longitute
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required />
        <mat-error *ngIf="form.controls['name'].hasError('required')">
          Please enter Name
        </mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="cancel()">Cancel</button>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        (click)="submit()"
      >
        Save
      </button>
    </div>
  </form>
</div>
