<section>
  <button mat-raised-button color="primary" (click)="createOrUpdateMarker()">
    Add Marker
  </button>
</section>

<mat-form-field appearance="standard">
  <mat-label>Search</mat-label>
  <input matInput (keyup)="filterTableData($event)" #input />
</mat-form-field>

<div class="mat-elevation-z8">
  <table class="markers-list-table" mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by name"
      >
        Name
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="lat">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by latitude"
      >
        Latitude
      </th>
      <td mat-cell *matCellDef="let element">{{ element.lat }}</td>
    </ng-container>

    <ng-container matColumnDef="lng">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by longitude"
      >
        Longitutde
      </th>
      <td mat-cell *matCellDef="let element">{{ element.lng }}</td>
    </ng-container>

    <ng-container matColumnDef="editAction">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let element">
        <button
          class="edit-btn"
          mat-raised-button
          color="primary"
          (click)="createOrUpdateMarker(element)"
        >
          <i class="material-icons"> edit </i>
        </button>
      </td></ng-container
    >

    <ng-container matColumnDef="deleteAction">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element">
        <button
          class="delete-btn"
          mat-raised-button
          color="primary"
          (click)="deleteMarker(element)"
        >
          <i class="material-icons"> delete </i>
        </button>
      </td></ng-container
    >

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="5">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of markers"
  >
  </mat-paginator>
</div>
